html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 10.25rem);
    color: rgb(109, 109, 109);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}


.nav-main {
    background: #FFFFFF;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    z-index: 99;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
}

.nav-main-list-container {
    display: flex;
    position: relative;
    top: 0.5rem;
}

.nav-main-list {
    padding-right: 1.25rem;
}

.nav-main-list ul a,
.fa-bars {
    color: #14213D;
}

.nav-main-list-items {
    list-style: none;
    padding-right: 1rem;
}

.nav-main-inner {
    margin-left: auto;
}

.nav-main-logo a {
    padding-left: 30px;
    color: #14213D;
}

.nav-main-list ul a:hover,
.nav-main-logo a:hover {
    color: #FCA311;
}

.logo-img {
    width: 100px;
}

.main-bg {
    height: 80vh;
}

.bg-image {
    background: url('/assets/images/car2.jpg') no-repeat center center;
    margin-top: 90px;
    height: 80vh !important;
    background-size: cover;
    z-index: -1;

}

.landing-text {
    padding-top: 200px;
    color: #000000;
    z-index: 150;
}

.sub-landing-text {
    color: #000000;
}

.btn-call {
    color: #fff;
    background-color: #14213D;
    border-color: #14213D;
}

.btn-call:hover {
    color: #fff;
    background-color: #14213de3;
    border-color: #14213de3;
}

.about-us {
    background: #14213D;
    height: 100%;
}

.about-us-header {
    padding-top: 200px;
    color: #FCA311;
}

.icons {
    font-size: 5rem;
    color: #FCA311;
}

.services {
    height: 100%;
}

.services-header {
    padding-top: 200px;
    color: #14213D;
}

.services-text {
    color: #14213D;
}

.services-images {
    height: 200px;
}

.contact {
    padding-top: 200px;
    height: 100%;
    background: #14213D;
}

.fa-bars {
    font-size: 1.5;
}