html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 10.25rem);
    color:rgb(109, 109, 109);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}  


.nav-main {
    background: #FFFFFF;
    padding-top: 1.25rem;
    padding-bottom:1.25rem;
    z-index: 99;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
}

.nav-main-list-container{
    display:flex;
    position: relative;
    top: 0.5rem;
}  

.nav-main-list {
    padding-right:1.25rem;
}

.nav-main-list ul a {
    color: #14213D;
}

.nav-main-list-items{
    list-style:none;
    padding-right:1rem;
}

.nav-main-inner {
    margin-left: auto;
}

.nav-main-logo a {
    padding-left: 30px;
    color: #14213D;
}        

.nav-main-list ul a:hover,
.nav-main-logo a:hover {
    color: #FCA311;
} 

.logo-img {
    width: 100px;
}

.main-bg {
    background: #FCA311;
    height: 100vh;
}

.landing-text {
    padding-top: 200px;
    color: #000000;
}

.sub-landing-text {
    color: #000000; 
}

.btn-call {
    color: #fff;
    background-color: #14213D;
    border-color: #14213D;
}

.btn-call:hover {
    color: #fff;
    background-color: #14213de3;
    border-color: #14213de3;
}

.about-us {
    background: #fff;
    height:100vh;


}